@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

body {
  overscroll-behavior: none;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
